<template name="Abilities_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Ability(s)</label>
    <select multiple="" class="ui dropdown" name="abilities">
      <option value="">Select Ability(s)</option>
      <option value="algorithms">Algorithms</option>
      <option value="software-engineering">Software Engineering</option>
      <option value="scuba">Scuba</option>
      <option value="accreditation">Accreditation</option>
      <option value="surfing">Surfing</option>
    </select>
  </div>
</template>