<template name="Interests2_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Interest2(s)</label>
    <select multiple="" class="ui dropdown" name="interests2">
      <option value="">Select Interest2(s)</option>
        <option value="algorithms">Algorithms</option>
        <option value="software-engineering">Software Engineering</option>
        <option value="scuba">Scuba</option>
        <option value="accreditation">Accreditation</option>
        <option value="surfing">Surfing</option>
    </select>
  </div>
</template>