<template name="Directory_Favorites">

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="{{ favorites.picture }}">
      <div class="header">
        {{ favorites.firstName }} {{ favorites.lastName }} <i class="yellow star icon"></i>
      </div>
      <div class="meta">
        {{ favorites.title }}
      </div>
      <div class="description">
        {{ favorites.bio }}
      </div>
      <div style="margin-top: 10px">
        {{#each interest in favorites.interests}}
          <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
        {{/each}}
      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="column"><a href="mailto:{{ favorites.username}}@hawaii.edu"><i class="big mail icon"></i></a></div>
        {{#if favorites.github }}
          <div class="column"><a href="https://github.com/{{ favorites.github}}"><i class="big github icon"></i></a>
          </div>
        {{/if}}
        {{#if favorites.facebook }}
          <div class="column"><a href="https://facebook.com/{{ favorites.facebook}}"><i
              class="big facebook icon"></i></a></div>
        {{/if}}
        {{#if favorites.instagram }}
          <div class="column"><a href="https://instagram.com/{{ favorites.instagram}}"><i
              class="big instagram icon"></i></a></div>
        {{/if}}
      </div>
    </div>
  </div>

</template>