<template name="Directory_Report">

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="{{ report.picture }}">
      <div class="header">
        {{ report.firstName }} {{ report.lastName }}
      </div>
      <div class="meta">
        {{ report.phone }}
      </div>
      <div class="description">
        {{ report.bio }}
      </div>
      <div style="margin-top: 10px">
        {{#each abilities in report.abilities}}
          <a style="margin-bottom: 2px; background-color: #1a4f78 ; color: #ffffff;"
             class="ui tag small label">{{abilities}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each styles in report.styles}}
          <a style="margin-bottom: 2px; background-color: #1985a1; color: #ffffff;"
             class="ui tag small label">{{styles}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each experiences in report.experiences}}
          <a style="margin-bottom: 2px; background-color: #4db0ca; color: #ffffff;"
             class="ui tag small label">{{experiences}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each goals in report.goals}}
          <a style="margin-bottom: 2px; background-color: #8ad4e9; color: #ffffff;"
             class="ui tag small label">{{goals}}</a>
        {{/each}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="column"><a href="mailto:{{ report.username}}@hawaii.edu"><i class="big mail icon"></i></a></div>
        {{#if report.soundcloud }}
          <div class="column"><a href="https://soundcloud.com/{{ report.soundcloud}}"><i
              class="big soundcloud icon"></i></a>
          </div>
        {{/if}}
        {{#if report.youtube }}
          <div class="column"><a href="https://youtube.com/{{ report.youtube}}"><i
              class="big youtube icon"></i></a></div>
        {{/if}}
        {{#if report.spotify }}
          <div class="column"><a href="https://spotify.com/{{ report.spotify}}"><i
              class="big spotify icon"></i></a></div>
        {{/if}}
      </div>
    </div>
    <div class="ui red bottom attached button ban" tabindex="0">BAN</div>
      <!--<button class="ui button ban" tabindex="0" type="submit">BAN</button>-->
    <!--</div>-->
  </div>

</template>