<template name="Directory_Profile">

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="{{ profile.picture }}">
      <div class="header">
        {{ profile.firstName }} {{ profile.lastName }}
      </div>
      <div class="meta">
        {{ profile.phone }}
      </div>
      <div class="description">
        {{ profile.bio }}
      </div>
      <div style="margin-top: 10px">
        {{#each abilities in profile.abilities}}
          <a style="margin-bottom: 2px; background-color: #1a4f78 ; color: #ffffff;"
             class="ui tag small label">{{abilities}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each styles in profile.styles}}
          <a style="margin-bottom: 2px; background-color: #1985a1; color: #ffffff;"
             class="ui tag small label">{{styles}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each experiences in profile.experiences}}
          <a style="margin-bottom: 2px; background-color: #4db0ca; color: #ffffff;"
             class="ui tag small label">{{experiences}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each goals in profile.goals}}
          <a style="margin-bottom: 2px; background-color: #8ad4e9; color: #ffffff;"
             class="ui tag small label">{{goals}}</a>
        {{/each}}
      </div>
    </div>
    <div class="ui basic icon three buttons">
        <button class="ui button favorite" type="submit"><i class="yellow star icon"></i></button>
        <button class="ui button contact" type="submit"><i class="sound icon"></i></button>
        <button class="ui button ban" type="submit"><i class="red ban icon"></i></button>
    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="column"><a href="mailto:{{ profile.username}}@hawaii.edu"><i class="big mail icon"></i></a></div>
        {{#if profile.soundcloud }}
          <div class="column"><a href="https://soundcloud.com/{{ profile.soundcloud}}"><i
              class="big soundcloud icon"></i></a>
          </div>
        {{/if}}
        {{#if profile.youtube }}
          <div class="column"><a href="https://youtube.com/{{ profile.youtube}}"><i
              class="big youtube icon"></i></a></div>
        {{/if}}
        {{#if profile.spotify }}
          <div class="column"><a href="https://spotify.com/{{ profile.spotify}}"><i
              class="big spotify icon"></i></a></div>
        {{/if}}
      </div>
    </div>
  </div>


</template>
