<template name="Directory_People_Interested">

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="{{ peopleInterested.picture }}">
      <div class="header">
        <i class="sound icon"></i> {{ peopleInterested.firstName }} {{ peopleInterested.lastName }}
      </div>
      <div class="meta">
        {{ peopleInterested.phone }}
      </div>
      <div class="description">
        {{ peopleInterested.bio }}
      </div>
      <div style="margin-top: 10px">
        {{#each abilities in peopleInterested.abilities}}
          <a style="margin-bottom: 2px; background-color: #1a4f78 ; color: #ffffff;" class="ui tag small label">{{abilities}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each styles in peopleInterested.styles}}
          <a style="margin-bottom: 2px; background-color: #1985a1; color: #ffffff;" class="ui tag small label">{{styles}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each experiences in peopleInterested.experiences}}
          <a style="margin-bottom: 2px; background-color: #4db0ca; color: #ffffff;" class="ui tag small label">{{experiences}}</a>
        {{/each}}
      </div>
      <div style="margin-top: 10px">
        {{#each goals in peopleInterested.goals}}
          <a style="margin-bottom: 2px; background-color: #9ae9fe; color: #ffffff;" class="ui tag small label">{{goals}}</a>
        {{/each}}
      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="column"><a href="mailto:{{ peopleInterested.username}}@hawaii.edu"><i class="big mail icon"></i></a></div>
        {{#if peopleInterested.soundcloud }}
          <div class="column"><a href="https://soundcloud.com/{{ peopleInterested.soundcloud}}"><i class="big soundcloud icon"></i></a>
          </div>
        {{/if}}
        {{#if peopleInterested.youtube }}
          <div class="column"><a href="https://youtube.com/{{ peopleInterested.youtube}}"><i
              class="big youtube icon"></i></a></div>
        {{/if}}
        {{#if peopleInterested.spotify }}
          <div class="column"><a href="https://spotify.com/{{ peopleInterested.spotify}}"><i
              class="big spotify icon"></i></a></div>
        {{/if}}
      </div>
    </div>
  </div>

</template>